    <footer class="page-footer font-small">
    <div class="row d-flex align-items-center text-center p-3 border-top">
      <div class="col text-center">
        <small class="text-muted">
          网站版本：<code>{{site_version}}</code>
          <br>生成日期： <code>{{date}}</code>
        </small>
      </div>
    </div>
    <div class="footer-copyright text-center py-2 bg-white">
      <small class="text-muted">
        基于Steve LLamb的工作成果，建立目标：
        <br>用于梳理、建立标准化体系，形成整体、有机、清晰的体系概况；
        <br>用于标准文件、项目的管理和检索；
        <br>用于跟踪标准化动态。
      </small>
    </div>
    <div class="footer-copyright text-center py-2 bg-white">
      <small class="text-muted">
        © 2022 张鑫
      </small>
    </div>
  </footer> 
</body>